In [1]:
import pandas as pd
df=pd.read_csv('csv/housing.csv')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [2]:
df.isna().sum() #busca elementos vacíos y los suma

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [3]:
#podríamos eliminarlos
dfdel=df.dropna()
dfdel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [4]:
#se podría reemplezar esos datos vacíos por un valor, por ejemplo la media
media=df['total_bedrooms'].mean()
print(media)
df['total_bedrooms'].fillna(media,inplace=True)
df.info()
df.describe()

537.8705525375618
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,419.266592,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,297.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,438.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,643.250000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [5]:
#se puede probar con la mediana para mejorar
media=df['total_bedrooms'].median()
print(media)
df['total_bedrooms'].fillna(media,inplace=True)
df.info()
df.describe()

438.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,419.266592,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,297.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,438.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,643.250000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

Valores atípicos

In [6]:
import numpy as np

np.random.seed(0)
data = np.random.randint(low=0, high=11, size=1000)
data[0] = 100
data[1] = -100

In [7]:
z_scores=(data-np.mean(data))/np.std(data)
umbral=3
outliers=np.where(np.abs(z_scores)>umbral)
data[outliers]

array([ 100, -100])

In [8]:
z_scores=(df-np.mean(df))/np.std(df)
umbral=3
outliers=np.where(np.abs(z_scores)>umbral)
print(outliers)

(array([   95,    95,   104, ..., 20629, 20629, 20629]), array([0, 8, 0, ..., 7, 8, 9]))

/anaconda/envs/azureml_py38/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/anaconda/envs/azureml_py38/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3571: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [9]:
z_scores=(df-np.mean(df))/np.std(df)
umbral=3
outliers=np.where(np.abs(z_scores)>umbral)
dfout_mask=df.where(np.abs(z_scores)>umbral).isna()
dfout_mask

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
20635,True,True,True,True,True,True,True,True,True,True
20636,True,True,True,True,True,True,True,True,True,True
20637,True,True,True,True,True,True,True,True,True,True
20638,True,True,True,True,True,True,True,True,True,True
20639,True,True,True,True,True,True,True,True,True,True

In [10]:
#otro método es trabajar con cuartiles
# Calcular IQR
q1 = np.percentile(data, 25)
q3 = np.percentile(data, 75)
iqr = q3 - q1
print('iqr:',iqr)

umbra_sup=q3+1.5*iqr
umbra_inf=q1-1.5*iqr
print('umbrales:',umbra_inf,umbra_sup)

iqr: 6.0
umbrales: -7.0 17.0

In [11]:
q1 = np.percentile(data, 25)
q3 = np.percentile(data, 75)
iqr = q3 - q1
print('iqr:',iqr)
print(np.mean(data),q1,q3)

umbra_sup=q3+1.5*iqr
umbra_inf=q1-1.5*iqr
print('umbrales:',umbra_inf,umbra_sup)

iqr: 6.0
4.913 2.0 8.0
umbrales: -7.0 17.0

In [12]:
q1 = np.percentile(data, 25)
q3 = np.percentile(data, 75)
iqr = q3 - q1
print('iqr:',iqr)
print(np.mean(data),q1,q3)

umbra_sup=q3+1.5*iqr
umbra_inf=q1-1.5*iqr
print('umbrales:',umbra_inf,umbra_sup)
outliers=np.where((data<umbra_inf)|(data>umbra_sup))
data[outliers]

iqr: 6.0
4.913 2.0 8.0
umbrales: -7.0 17.0

array([ 100, -100])

In [13]:
dfdel.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [14]:
c_numericas=[ 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', ],

In [15]:
df_num=dfdel[c_numericas]

q1 = df_num.apply(lambda x:np.percentile(x, 15))
q3 = df_num.apply(lambda x:np.percentile(x, 75))
iqr = q3 - q1
print('iqr:',iqr,'/n')
#print(q1,q3)
umbra_sup=

SyntaxError: invalid syntax (3221814868.py, line 8)

Tratamiento de duplicados

In [16]:
df=pd.read_csv('csv/housing.csv')
df=pd.concat([df,df.iloc[[1,60,6]]])
duplicate_rows=df[df.duplicated()]
print(duplicate_rows)

    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
1     -122.22     37.86                21.0       7099.0          1106.0
60    -122.29     37.83                52.0       1121.0           211.0
6     -122.25     37.84                52.0       2535.0           489.0

    population  households  median_income  median_house_value ocean_proximity
1       2401.0      1138.0         8.3014            358500.0        NEAR BAY
60       554.0       187.0         3.3929             75700.0        NEAR BAY
6       1094.0       514.0         3.6591            299200.0        NEAR BAY

In [ ]:
#eliminar duplicados
cleaned_df=df.drop_duplicates()
cleaned_df.duplicated().sum()

In [17]:
# duplicates
data = {'customer_id': [102, 102, 101, 103, 102], 'product_id': [
    'A', 'B', 'A', 'C', 'B'], 'quantity_sold': [5, 3, 2, 1, 4]}
df = pd.DataFrame(data)
df

   customer_id product_id  quantity_sold
0          102          A              5
1          102          B              3
2          101          A              2
3          103          C              1
4          102          B              4

In [18]:
df[{'customer_id','product_id'}].duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [19]:
merged_df=df.groupby(['customer_id','product_id']).agg({'quantity_sold':'sum'}).reset_index()
print(merged_df)

   customer_id product_id  quantity_sold
0          101          A              2
1          102          A              5
2          102          B              7
3          103          C              1

In [20]:
df=pd.read_csv('csv/housing.csv')
dfdel=df.dropna()
dfdel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [21]:
dfdel.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [22]:
dfdel[['total_rooms',
       'total_bedrooms', 'population', 'households']]=dfdel[['total_rooms',
       'total_bedrooms', 'population', 'households']].astype('int32')
dfdel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  int32
 4   total_bedrooms      20433 non-null  int32
 5   population          20433 non-null  int32
 6   households          20433 non-null  int32
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(5), int32(4), object(1)
memory usage: 1.4+ MB

/anaconda/envs/azureml_py38/lib/python3.10/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [24]:
dfdel[['ocean_proximity']]=dfdel[['ocean_proximity']].astype('str')
dfdel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  int32
 4   total_bedrooms      20433 non-null  int32
 5   population          20433 non-null  int32
 6   households          20433 non-null  int32
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(5), int32(4), object(1)
memory usage: 1.4+ MB

/anaconda/envs/azureml_py38/lib/python3.10/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [26]:
dfdel[['ocean_proximity']]=dfdel[['ocean_proximity']].astype('category')
dfdel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  int32
 4   total_bedrooms      20433 non-null  int32
 5   population          20433 non-null  int32
 6   households          20433 non-null  int32
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  category
dtypes: category(1), float64(5), int32(4)
memory usage: 1.3 MB

In [27]:
import numpy as np
df_num=df.select_dtypes(np.number)
df_num.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [28]:
df_cat=df.select_dtypes(include='object')
df_cat.columns

Index(['ocean_proximity'], dtype='object')

In [29]:
df_cat['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [31]:
cat_values=['NEAR BAY', 'MINUS 1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND']
df_cat['ocean_proximity'].str.match(r'[A-Z0-9]{4}.*').head()

0    True
1    True
2    True
3    True
4    True
Name: ocean_proximity, dtype: bool

In [32]:
cat_values=['NEAR BAY', 'MINUS 1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND']
df_cat['ocean_proximity'].str.match(r'[A-Z0-9]{4}.*').head()
df_cat['valid']=df_cat['ocean_proximity'].isin(cat_values)
df_cat[df_cat['valid']==False]='MINUS 1H OCEAN'

/tmp/ipykernel_5000/232290962.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['valid']=df_cat['ocean_proximity'].isin(cat_values)
/tmp/ipykernel_5000/232290962.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat[df_cat['valid']==False]='MINUS 1H OCEAN'
/anaconda/envs/azureml_py38/lib/python3.10/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [34]:
#para eliminar los warning
import warnings
warnings.filterwarnings('ignore')

cat_values=['NEAR BAY', 'MINUS 1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND']
df_cat['ocean_proximity'].str.match(r'[A-Z0-9]{4}.*').head()
df_cat['valid']=df_cat['ocean_proximity'].isin(cat_values)
df_cat[df_cat['valid']==False]='MINUS 1H OCEAN'

In [36]:
import warnings
warnings.filterwarnings('ignore')

cat_values=['NEAR BAY', 'MINUS 1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND']
df_cat['ocean_proximity'].str.match(r'[A-Z0-9]{4}.*').head()
df_cat['valid']=df_cat['ocean_proximity'].isin(cat_values)
#df_cat[df_cat['valid']==False]='MINUS 1H OCEAN'
df_cat['ocean_proximity']=df_cat['ocean_proximity'].str.replace('.*H OCEAN.*','MINUS 1H OCEAN',regex=True)

In [37]:
df_cat['valid']=df_cat['ocean_proximity'].isin(cat_values)
df_cat[df_cat['valid']==False]

Empty DataFrame
Columns: [ocean_proximity, valid]
Index: []

In [38]:
df_num

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [39]:
df_num[~df_num['housing_median_age'].between(1,100)]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value]
Index: []